<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Bitter&family=Inconsolata&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/notcodinglogo-filled.svg">
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><block name="title">TitleHere</block></title>
	</head>

	<body>
		<header>
			<img src="/notcodingtoday.svg" alt="//notcoding.today">
			<hr>

			<div class="navigation">
				<a href="/about.html">About</a>
				<a href="/">Blog</a>
			</div>

			<hr>
		</header>

		<div class="blog">
			<block name="content"></block>
		</div>

		<footer>
			<hr>
			<p>2020 Copyright. All Rights Reserved.</p>
		</footer>
	</body>
</html>